In [1]:
import azureml.core
from azureml.core import Workspace

# Load the workspace from the saved config file
ws = Workspace.from_config()
print('Ready to use Azure ML {} to work with {}'.format(azureml.core.VERSION, ws.name))

Ready to use Azure ML 1.27.0 to work with avz0521

In [2]:
from azureml.core import Datastore
from azureml.core import Dataset

def_blob_store = Datastore.get(ws,'zombies')
def_blob_store.upload_files(files = ['eyready_for_eda.csv'])

Uploading an estimated of 1 files
Target already exists. Skipping upload for eyready_for_eda.csv
Uploaded 0 files

$AZUREML_DATAREFERENCE_zombies

In [3]:
from azureml.core import Dataset

dataset = Dataset.get_by_name(ws, name='zombiesavz')
dataset.to_pandas_dataframe()

     Human  Zone     Sex  Age  Num_Fam  Ammo   Bounty
0        0     3    male   22        1  5770   7.2500
1        1     1  female   38        1  9379  71.2833
2        1     3  female   26        0  6031   7.9250
3        1     1  female   35        1  3231  53.1000
4        0     3    male   35        0  6301   8.0500
..     ...   ...     ...  ...      ...   ...      ...
886      0     2    male   27        0  9592  13.0000
887      1     1  female   19        0  7686  30.0000
888      0     3  female   24        3  7217  23.4500
889      1     1    male   26        0  5825  30.0000
890      0     3    male   32        0  7205   7.7500

[891 rows x 7 columns]

In [4]:
datastore = ws.get_default_datastore()
dataset = Dataset.Tabular.from_delimited_files(path = [(datastore, 'eyready_for_eda.csv')])

# preview the first 3 rows of the dataset
dataset.take(3).to_pandas_dataframe()

   HuZom_Id  Human  Zone     Sex  Age  Num_Fam  Ammo   Bounty
0         1      0     3    male   22        1  5770   7.2500
1         2      1     1  female   38        1  9379  71.2833
2         3      1     3  female   26        0  6031   7.9250